<section>
    <div class="content flexcontainer center column">
       <!-- <div class="flexcontent">
            <div *ngFor="let player of players">
              <p>Player {{player.name}} is a {{player.character}}</p>
            </div>
        </div> -->
        <div class="flexcontent" style="height: 100px;"></div>
        <div class="flexcontent">
            <div class="indicators" *ngFor="let player of players">
                <!-- <h1>{{player.name}}'s progress: {{player.progress / 100 | percent}}</h1> -->
                <h1>{{player.name}}'s speed: {{getKmh(player)}} km/h</h1>
                
                <on-change class="gameSection" [percent]="player.progress" color="green" [player]="player"></on-change>
              </div>
        </div>
        <div class="flexcontent" style="height: 100px;"></div>        
        <div class="flexcontent navigatelink">
            <p><a class="btn secondairy" (click)="navigate('/setup')">QUIT</a></p>
        </div>
    </div>
</section>