.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background: url(../../../assets/bg-home.png) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover; */
}

h1, h2, h3  {
    color: #1A244B;    
}
.title {
    color: #1A244B;
}

.playernumber {
    font-size: 20px;
    border: 2px solid #1A244B;
    border-radius: 10px;
    padding: 40px;
    justify-content: center;
    color: #1A244B;
    margin: 1rem;
    float: left;

    p, h2 {
        margin: 0px;
    }

    :hover {
        cursor: pointer;
    }
}

.playernumber.active {
    p, h2 {
        color: #F4F4D9;
    }
    background-color: #1A244B;
}

input[type=text] {
    -webkit-appearance: none;
    background-color: #F4F4D9; 
    color: #1A244B;
    outline: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.characterselect {
    margin: 2rem;
    width: 25%;
}

.character {
    height: 100px;
    width: 100px;
    margin: 1rem;

}

.character img.active {
    //padding: 5px;
    border: 2px solid #1A244B;
    border-radius: 10px;    
}
