<div class="container">
  <div class="content flexcontainer center column">
      <div class="flexcontent">
        <p class="backBtn"><a  (click)="navigate('/')" style="width: 20%">back</a></p>  
        <h1 class="title">GAME SETUP</h1>
      </div>
      <div class="flexcontent">
        <div>
          <!-- <h2>Select number of players</h2> -->
          <div class="inline-block">
              <div *ngFor="let maxPlayer of getMaxPlayers(); let index = index"  (click)="selectNumberOfPlayers(index + 1)" class="playernumber {{selectedPlayers === (index + 1) ? 'active' : ''}}"> 
                  <h2>{{index + 1}}</h2>
                  <p>Player<span *ngIf="(index + 1) > 1">s</span></p>
                </div>
          </div>
        </div>
      </div>
      <div class="flexcontent"></div>
      <div class="flexcontent"></div>
      <div class="flexcontent"></div>
      <div class="flexcontent"></div>
      <div class="flexcontent">
          <div>
              <div *ngFor="let player of getSelectedPlayers(); let index = index" class="inline-block characterselect">
                <h2 contenteditable value="player.name" (keyup)="updatePlayerName($event, player.player)">{{player.name}}</h2>
                <div>
                    <div class="character inline-block" *ngFor="let character of characters; let charIndex = index" (click)="updatePlayerCharacter(player.player, character)">
                      <img class="{{player.character === character ? 'active' : ''}}" [src]="getImgPath(character)" alt="">
                    </div>
                </div>
               <div>
                    <p (click)="scrollThroughCharacters(player.player, false)">previous Character</p>
                    <p (click)="scrollThroughCharacters(player.player, true)">next Character</p>
                    <div class="character inline-block" (click)="updatePlayerCharacter(player.player, player.character)">
                      <img class="{{player.character === character ? 'active' : ''}}" [src]="getImgPath(player.character)" alt="">
                    </div>
                </div>
                <p>Wheel size: 
                   <!-- <span contenteditable (keyup)="updatePlayerName($event, player.player)">{{player.name}}</span> -->
                    <select [(ngModel)]='player.wheel_radius' (ngModelChange)="onOptionsSelected($event, player.player)">
                        <option value="12" >12 inch</option>
                        <option value="16">16 inch</option>
                        <option value="20">20 inch</option>
                        <option value="22">22 inch</option>
                        <option value="24">24 inch</option>
                        <option value="26">26 inch</option>                        
                    </select>
                </p>
              </div>
          </div>
      </div>
      <div class="flexcontent"></div>
      <div class="flexcontent navigatelink">
          <a class="btn primary" (click)="navigate('/game')">PLAY</a>

      </div>
  </div>




</div>
