/* You can add global styles to this file, and also import other style files */
//brown: #F4F4D9
//green-light: #3DB230
//green-dark: #006837
//blue: #1A244B
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #F4F4D9;
}

.btn {
  border-radius: 4px;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 30px;
  background-color: #1A244B;
  color: white;
  .primary {
    background-color: #1A244B;
  }
}

.navigatelink {
  cursor: pointer !important;
}

.inline-block {
  display: inline-block;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}
